name: Test

on:
  push:
    branches: [main]
  pull_request:

jobs:
  scalafmt:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: "21"
          cache: sbt
      - uses: sbt/setup-sbt@v1
      - run: sbt scalafmtCheckAll

  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: ["21", "25"]
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: ${{ matrix.java }}
          cache: sbt
      - uses: sbt/setup-sbt@v1
      - run: sbt test

  test-all:
    if: always()
    needs: [scalafmt, test]
    runs-on: ubuntu-latest
    steps:
      - run: if [[ "${{ needs.scalafmt.result }}" != "success" || "${{ needs.test.result }}" != "success" ]]; then exit 1; fi
